<div class="row">
  <div class="col-md-offset-1 col-md-10 text-center">
    <% if not @recent_tweets_error.nil? %>
      <%= @recent_tweets_error %>
    <% elsif @recent_tweets.attrs[:statuses].empty? %>
      <%= t('home.tweets.none')%>
    <% else %>
      <div id="tweet-wall" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @recent_tweets.each_with_index do |tweet, index| %>
            <li data-target="#tweet-wall" data-slide-to="<%= index %>" class="<%= class_name_tweet_active(index) %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @recent_tweets.each_with_index do |tweet, index| %>
            <div class="item <%= class_name_tweet_active(index) %>">
              <div class="tweet carousel-caption">
                <div class="row">
                  <div class="col-md-2">
                    <%= image_tag tweet.user.profile_image_url_https, :title => "@#{tweet.user.screen_name}", :class => "img-rounded" %>
                  </div>
                  <div class="col-md-10 text-left">
                    <div>
                      <a href="<%= tweet.user.uri %>" target="_blank">
                        <strong><%= tweet.user.name %></strong>
                        <span class="text-muted">@<%= tweet.user.screen_name %></span>
                      </a>
                      <span class="time">
                        <a href="<%= tweet.uri %>" class="text-muted" target="_blank">
                          <%= tweet.created_at.to_formatted_s(:short) %>
                        </a>
                      </span>
                    </div>
                    <div><%= tweet.full_text %></div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#tweet-wall" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#tweet-wall" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
  </div>
</div>