<%= simple_form_for(@quicky) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
		<%= f.input :date %>
    <%= f.association :user_group %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
