<div class="media thumbnail quickie quickie-<%= quickie.id %> clearfix">
  <div class="media-left col-md-3">
		<%= link_to root_path(user_group: quickie.user_group.id) do %>
      <%= image_tag "#{quickie.user_group.picture_name}", title: quickie.user_group.name, alt: quickie.user_group.name %>
		<% end %>
  </div>
  <div class="media-body col-md-6">
    <h4 class="media-heading">
      <%= link_to quickie.title, quickie_path(quickie) %>
    </h4>
    <p><%= quickie.description %></p>
		<p>
	    <strong><%= t('quickies.hashtag') %> :</strong>
      <%= "##{quickie.hashtag}" if quickie.hashtag %>
		</p>
  </div>
  <div class="media-right text-center thumbnail col-md-3">
		<div class="date">
	    <%= quickie.date.strftime(t('date.formats.default')) %><br />
	    <%= quickie.date.strftime(t('time.formats.tiny')) %><br />
		</div>
    <div class="nb-vote">
      <%= render partial: 'quickies/votes', locals: { quickie: quickie } %>
    </div>
  </div>
</div>