<% content_for :title do "Showing " + @quickie.title + " at " + @quickie.user_group.name + " | UgQuickies" end %>

<h1 class="text-center"><%= @quickie.title %></h1>

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= image_tag "#{@quickie.user_group.picture_name}", title: @quickie.user_group.name, alt: @quickie.user_group.name %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default <%= @quickie.user_group.name.parameterize %>">
      <div class="panel-heading">
        <h3 class="panel-title text-right ">
            <%= t('quickies.take_place_on') %> <%= l @quickie.date, format: :medium %>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          <strong><%= t('quickies.description') %> :</strong><br />
          <%= @quickie.description %>
        </p>
        <p>
          <strong><%= t('quickies.hashtag') %> :</strong><br />
          <%= "##{@quickie.hashtag}" if @quickie.hashtag %>
        </p>
      </div>
      <div class="panel-footer">
        <span class="text-left">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <u><%= t('quickies.created_by') %> :</u>
          <%= @quickie.creator.name %>
        </span>
        <span class="pull-right text-right">
          <% if policy(@quickie).update? %>
            <%= link_to edit_quickie_path(@quickie) do %><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> <%= t('quickies.edit.link') %><% end %>
          <% end %>
          <% if policy(@quickie).update? and policy(@quickie).destroy? %> | <% end %>
          <% if policy(@quickie).destroy? %>
            <%= link_to @quickie, confirm: 'Are you sure?', method: :delete do %><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= t('quickies.delete.link') %><% end %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row col-md-9 col-md-offset-1 text-right">
  <%= render_shareable %>
</div>

<div class="row clearfix">&nbsp;</div>

<div class="row col-md-8 col-md-offset-2">
  <%= commontator_thread(@quickie) %>
</div>
