<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ugquickies" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Ugquickies" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
       </div>
    </main>
    <footer class="footer">
      <div class="container text-center">
        <%= content_for?(:footer) ? yield(:footer) : '' %>
        <div class="row">Copyright 2015</div>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
